<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
    <link rel="stylesheet" href="../styles/global.css">
    <link rel="stylesheet" href="../styles/galeria.css">
</head>
<body>
    <h1 id="imgInicial">Galeria</h1>
    <header>
        <nav id="navbar">
            <ul>
				<li><a href="../index.html">HOME</a></li>
				<li><a href="conteudo.html">INFO</a></li>
				<li><a href="autor.html">AUTOR</a></li>
				<li><a href="galeria.html">GALERIA</a></li>
                <li><a href="prefeitura.html">PREFEITURA</a></li>
                <li><a href="login - singup/singup.html">CADASTRE-SE</a></li>
				<li><a href="login - singup/login.html">LOGIN</a></li>
			</ul>
        </nav>
    </header>
    <main>
        <h1>Fotos do Alto da Lapa</h1>
        <div id="container">
            <img src="../img/bairro-da-lapa-sp.webp" alt="paisagem noturna" title="Paisagem noturna do Alto da Lapa">
            <img src="../img/DistritoLapa-.jpg" alt="visão aerea" title="Visão aerea do Alto da Lapa">
            <img src="../img/distritoLapa.jpg" alt="visão aerea" title="Visão aerea do Alto da Lapa">
            <img src="../img/lapa.jpg" alt="visão aerea" title="Visão aerea do Alto da Lapa">
            <img src="../img/parque-villa-lobos.jpg" alt="parque villa lobos" title="Parque villa lobos">
            <img src="../img/villa_lobos-paisagem.png" alt="parque villa lobos" title="Parque villa lobos">
            <img src="../img/mallVillaLobos.jpg" alt="shopping villa lobos" title="shopping villa lobos">
            <img src="../img/Subprefeitura.jpeg" alt="subprefeitura da lapa visão micro" title="Subprefeitura da lapa">
            <img src="../img/SubprefeituraLapaFrente.jpg" alt="subprefeitura da lapa visão macro" title="Subprefeitura da lapa">
        </div>
    </main>
    <footer>
        <div id="footerCont">
            <div id="rsLinks">
                <p>REDES SOCIAIS </p>
                <hr>
                <a href="https://github.com/E-Matias" target="_blank"><img src="" alt=""><img src="../img/logos/RedeSocBranco/github.png" alt="Github" title="Github"></a>
                <a href="https://www.instagram.com/enzo_matias71/" target="_blank"><img src="../img/logos/RedeSocBranco/instagram.png" alt="Instagram" title="Instagram"></a>
                <a href="https://www.youtube.com/channel/UCQZuyKLlku5vlBlxx36GQcA" target="_blank"><img src="../img/logos/RedeSocBranco/youtube.png" alt="Youtube" title="Youtube"></a>
                <a href="https://open.spotify.com/user/31mlxa4aqwb4vfmtbbyce7k6kbdi?si=4df39c6a866d4ee8&nd=1" target="_blank"><img src="../img/logos/RedeSocBranco/spotify.png" alt="Spotify" title="Spotify"></a>
                <a href="https://br.tradingview.com/u/Enzo-Matias/" target="_blank"><img src="../img/logos/RedeSocBranco/tradingview.png" alt="TradingView" title="TradingView"></a>
            </div>
            <div>
                <p>PÁGINAS </p>
                <hr>
                <a href="../index.html">Home</a>
                <a href="conteudo.html">Sobre o Alto da Lapa</a>
                <a href="autor.html">Sobre o autor</a>
                <a href="prefeitura.html">Prefeitura</a>
            </div>
            <div>
                <p>CONSULTA </p>
                <hr>
                <a href="https://developer.mozilla.org/pt-BR/" target="_blank">MDN</a>
                <a href="https://www.w3schools.com/" target="_blank">W3School</a>
                <a href="https://flexboxfroggy.com/" target="_blank">Flexbox Froggy</a>
                <a href="https://pt.wikipedia.org/wiki/Wikip%C3%A9dia:P%C3%A1gina_principal" target="_blank">Wikipedia</a>
                <a href="https://www.quintoandar.com.br/regioes-atendidas/alto-da-lapa-sao-paulo-sp-brasil-54pxwtn9de" target="_blank">Quinto Andar</a>
            </div>
            <div id="agradecimentos">
                <p>AGRADECIMENTOS </p>
                <hr>
                <ul>
                    <li>Marcelo Modolo</li>
                    <li>Carlos Giroto</li>
                    <li>Nicolas Pietro</li>
                    <li>Luisa Pedro</li>
                    <li>Enzo Neves</li>
                </ul>
            </div>
        </div>
    </footer>
</body>
</html>