:root {
	--azul: #1E28D9;
	--mostarda: #a79950;
	--azulE: #262840;
	--dourado: #B29341;
	--branco: #F2F2F2;
}

#inicio {
    width: 100%;
    height: 400px;
}

main {
	margin: 0 auto;
	max-width: 700px;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 20px auto;
}

#container img {
	width: 375px;
	border-radius: 5px;
}

#container > .conteudo {
    width: 375px;
    padding: 30px 30px;
}

.conteudo > h1{
	text-align: justify;
}

ol {
	width: 280px;
	margin: 0 auto;
}

ol > li {
	padding: 8px 30px;
	color: var(--dourado);
	text-align: justify;
	font-weight: bolder;
}


ol a:hover {
	color: var(--mostarda);
	transition: .5s;
}

main img, main iframe {
	display: block;
	margin: 30px auto;
	width: 550px;
	border-radius: 10px;
}

h2 {
	text-align: justify;
	margin: 20px 0px;
	color: var(--dourado);
	text-decoration: none;
}

main a {
	color: var(--dourado);
}

div img {
	border-radius: 0px;
	box-shadow: none;
}

form {
	display: flex;
	justify-content: center;
	gap: 10px;
}

form > input {
	padding: 5px;
	width: 325px;
	height: 30px;
	border: 1px var(--dourado) solid;
	border-radius: 3px;
	color: var(--azulE);
	font-size: 16px;
}

#CTB {
	width: 120px;
	height: 42px;
	padding: 5px;
	font-size: 16px;
	border: none;
	border-radius: 3px;
	background-color: var(--dourado);
	color: var(--branco);
}