:root {
	--azul: #1E28D9;
	--mostarda: #c0af5c;
	--azulE: #262840;
	--dourado: #766441;
	--branco: #F2F2F2;
}

#main {
    max-width: 1000px;
    margin: 0 auto;
}

#container img {
    width: 450px;
    margin: 40px auto 10px auto;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px auto;
}

#container > div {
    margin: 10px auto;
    width: 450px;
}

#container h1 {
    text-align: center;
    margin-top: 10px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 110px 0px 100px 0px;
}

table {
    margin: 10px auto 50px auto;
    font-size: 25px;
}

td {
    border-top: 2px var(--dourado) solid;
    margin: 20px auto;
    padding: 10px 50px;
}

.tabLegenda {
    padding: 10px 50px 10px 20px;
}

.tabInfo {
    color: var(--dourado);
    font-weight: bolder;
}

tr:last-child > td {
    border-bottom: 2px var(--dourado) solid;
}

#infoContato p {
    font-size: 17px;
    font-weight: bolder;
}

#saibaMais {
    text-align: center;
    background-color: var(--mostarda);
    padding: 10px 0;
    margin: 20px auto 0px auto;
}

#saibaMais p {
    margin: 20px auto;
    max-width: 700px;
    text-indent: 0px;
    text-align: center;
    color: var(--branco);
    font-size: 18px;
}

#saibaMais a {
    font-size: 16px;
    color: var(--branco);
    font-weight: bolder;
}